.terraform*
*.tfstate*
update_keys.py
.env
requirements.txt
.terragrunt-cache
aws
*backend.tf
*custom-vars.tfvars
*all-common.hcl

git rm -rf --cached terraform/backend.tf
git rm -rf --cached terraform/custom-vars.tfvars
git rm -rf --cached terragrunt/wordpress/all-common.hcl